<div
  class="scroller"
  [class.hide-right]="(initialAnim || initStage === 'PostInit') && !done && !shown"
  [class.show-right]="(initialAnim || initStage === 'PostInit') && !done && shown"
  [class.hide-left]="(initialAnim || initStage === 'PostInit') && done && !shown"
  [class.show-left]="(initialAnim || initStage === 'PostInit') && done && shown"
>
  <app-dated-section
    *ngFor="let todolist of todos | reversedKeyvalue"
    [date]="todolist.key"
    [done]="done"
    [todos]="todolist.value"
    (check)="handleCheck()"
    (edit)="handleEdit($event.date, $event.i)"
  />

  <span class="placeholder" *ngIf="!done && allDone()">All done!</span>
  <span class="placeholder" *ngIf="done && noneDone()"
    >Your completed TO-DOs will show up here!</span
  >
</div>
