<div
  class="scroller"
  [class.hide-right]="!done && !shown"
  [class.show-right]="!done && shown"
  [class.hide-left]="done && !shown"
  [class.show-left]="done && shown"
>
  <div class="todos">
    <div class="dated-section" *ngFor="let todolist of todos | keyvalue">
      <h3 class="date">{{ formatDate(todolist.key) }}</h3>
      <app-todo-item
        *ngFor="let todo of todolist.value; index as i"
        [class.hidden]="(!done && todo.done === 'Done') || (done && todo.done !== 'Done')"
        [text]="todo.text"
        [done]="done"
        (check)="handleCheck(todolist.key, i)"
        (editClick)="handleEdit(todolist.key, i)"
      />
    </div>
  </div>
</div>
