.app-container {
  width: calc(100% - 40px);
  max-width: 400px;
  height: calc(100% - 40px);
  max-height: 800px;
  padding: 20px 20px;
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  background: rgb(var(--medium));
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  position: relative;
}

.title-todo {
  margin: 0;
}

.title-done {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.title-done-shown {
  opacity: 0;
  animation: show-title-from-left 0.5s ease forwards;
}

.title-todo-shown {
  opacity: 0;
  animation: show-title-from-right 0.5s ease forwards;
}

.title-done-hidden {
  animation: hide-title-to-left 0.5s ease forwards;
}

.title-todo-hidden {
  animation: hide-title-to-right 0.5s ease forwards;
}

.todo-list-container {
  flex-grow: 1;
  position: relative;
  margin-bottom: 5%;
}

.todo-list-scroller {
  overflow-y: auto;
  overflow-x: hidden;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;

  display: flex;
  flex-direction: column-reverse;
}

.todos {
}

.todos-todo-shown {
  opacity: 0;
  animation: show-todos-from-right 0.5s ease forwards;
  z-index: 1;
}

.todos-todo-hidden {
  z-index: -1;
  animation: hide-todos-to-right 0.5s ease forwards;
}

.todos-done-shown {
  opacity: 0;
  animation: show-todos-from-left 0.5s ease forwards;
  z-index: 1;
}

.todos-done-hidden {
  animation: hide-todos-to-left 0.5s ease forwards;
  z-index: -1;
}

.create-btn {
}

.hidden {
  display: none;
}

@keyframes show-title-from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes hide-title-to-left {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-80px);
  }
}

@keyframes show-title-from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes hide-title-to-right {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(80px);
  }
}

@keyframes show-todos-from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes hide-todos-to-right {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(80px);
  }
}

@keyframes hide-todos-to-left {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-80px);
  }
}

@keyframes show-todos-from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
