.app-container {
  width: calc(100% - 40px);
  max-width: 400px;
  height: calc(100% - 40px);
  max-height: 800px;
  padding: 20px 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  background: rgb(var(--medium));
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
  position: relative;
}

.title-todo {
  margin: 0;
}

.title-done {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.title-done-shown {
  opacity: 0;
  animation: show-title-from-left 0.5s ease forwards;
}

.title-todo-shown {
  opacity: 0;
  animation: show-title-from-right 0.5s ease forwards;
}

.title-done-hidden {
  animation: hide-title-to-left 0.5s ease forwards;
}

.title-todo-hidden {
  animation: hide-title-to-right 0.5s ease forwards;
}

.todo-list-container {
  flex-grow: 1;
  position: relative;
  margin-bottom: 5%;
}

.hidden {
  display: none;
}

@keyframes show-title-from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes hide-title-to-left {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-80px);
  }
}

@keyframes show-title-from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }

  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes hide-title-to-right {
  0% {
    opacity: 100%;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(80px);
  }
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.btns-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.create-btn {
  flex-grow: 2;
  margin-right: 10px;
}

.robo-btn {
  flex-grow: 1;
}

.robo-icon {
  margin: 0 !important;
}

.hide-down {
  animation: hide-down 0.5s ease forwards;
}

@keyframes hide-down {
  0% {
    opacity: 100%;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

.show-up {
  animation: show-up 0.5s ease forwards;
}

@keyframes show-up {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.link-container {
  padding-top: 25px;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.gh-link {
  color: rgb(var(--link));
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
}

.gh-link-icon {
  transform: scale(0.7);
}

.spinner {
  display: flex;
  align-items: center;

  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.margin-bottom {
  margin-bottom: 10px;
}
