<div class="app-container">
  <div class="header">
    <h1
      class="title-todo"
      [ngClass]="showDone ? 'title-todo-hidden' : showDone !== null ? 'title-todo-shown' : ''"
    >
      TO-DO
    </h1>
    <h1
      class="title-done"
      [ngClass]="showDone === null ? 'hidden' : showDone ? 'title-done-shown' : 'title-done-hidden'"
    >
      DONE
    </h1>
    <mat-slide-toggle (change)="handleToggleChange($event)" />
  </div>

  <div class="todo-list-container">
    <div
      class="todo-list-scroller"
      [ngClass]="showDone ? 'todos-todo-hidden' : showDone !== null ? 'todos-todo-shown' : ''"
    >
      <div class="todos">
        <app-todo-item
          *ngFor="let todo of todos; index as i"
          [text]="todo"
          (onChecked)="handleCheckboxCheck(i)"
          (onBeginEditing)="handleBeginEditing(i)"
        />
      </div>
    </div>
    <div
      class="todo-list-scroller"
      [ngClass]="showDone === null ? 'hidden' : showDone ? 'todos-done-shown' : 'todos-done-hidden'"
    >
      <div class="todos">
        <app-todo-item *ngFor="let todo of done; index as i" [text]="todo" [editing]="false" />
      </div>
    </div>
  </div>

  <button class="create-btn" mat-flat-button color="primary" (click)="handleCreateClick()">
    Create
  </button>

  <app-modal [shown]="modalShown" (onClose)="handleModalClose()" [hideX]="true">
    <div class="modal-content">
      <mat-form-field>
        <mat-label>Enter TODO</mat-label>
        <input
          placeholder="Your TODO..."
          [formControl]="modalText"
          matInput
          (input)="handleModalInput($event)"
          [value]="modalText.value"
          (keydown.enter)="handleSaveClick()"
          [cdkTrapFocusAutoCapture]="modalShown"
          [cdkTrapFocus]="modalShown"
          required
        />
      </mat-form-field>

      <button
        mat-flat-button
        color="accent"
        (click)="handleSaveClick()"
        [disabled]="modalText.invalid"
      >
        Save
      </button>
    </div>
  </app-modal>
</div>

<router-outlet></router-outlet>
