.edit-field {
  background-color: rgb(var(--medium-tinted));
  border: none;
  border: 2px solid rgb(var(--medium-tinted));
  color: white;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.edit-field:focus {
  outline: none;
}
