<div class="container" [class.checked]="!done && checked">
  <mat-checkbox
    type="checkbox"
    (change)="handleCheckboxChange($event)"
    [checked]="checked"
    [disabled]="done"
  />
  <div class="text-and-edit">
    <span>
      {{ text }}
    </span>
    <button class="btn" [class.clickable]="!done" (click)="handleEditClick()" [disabled]="done">
      <mat-icon class="edit-icon" fontIcon="edit" *ngIf="!done" />
    </button>
  </div>

  <div class="struckthrough" *ngIf="done"></div>
  <div class="strikethrough" *ngIf="!done && checked"></div>
</div>
